{%  extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">

	<div class="col-md-12">
		<hr>
		<h5>ESCALA DE TURNO E FÉRIAS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Editar Escala</a>
			<hr>

			<table class="table table-sm table-striped">
				
				<tr>
					<th class="justify-content-center" style="background-color:#5F75FA;">OUTUBRO DE 2021</th>
				</tr>

				<tr>
					
					<th style="background-color:#548CDE;">Dias do Mês:</th>

					<th style="background-color:#ff6666;">1</th>
					<th style="background-color:#6AC6F5;">2</th>
					<th style="background-color:#6AC6F5;">3</th>
					<th style="background-color:#6AC6F5;">4</th>
					<th style="background-color:#6AC6F5;">5</th>
					<th style="background-color:#6AC6F5;">6</th>
					<th style="background-color:#ff6666;">7</th>
					<th style="background-color:#ff6666;">8</th>
					<th style="background-color:#6AC6F5;">9</th>
					<th style="background-color:#6AC6F5;">10</th>
					<th style="background-color:#6AC6F5;">11</th>
					<th style="background-color:#6AC6F5;">12</th>
					<th style="background-color:#6AC6F5;">13</th>
					<th style="background-color:#ff6666;">14</th>
					<th style="background-color:#ff6666;">15</th>
					<th style="background-color:#6AC6F5;">16</th>
					<th style="background-color:#6AC6F5;">17</th>
					<th style="background-color:#6AC6F5;">18</th>
					<th style="background-color:#6AC6F5;">19</th>
					<th style="background-color:#6AC6F5;">20</th>
					<th style="background-color:#ff6666;">21</th>
					<th style="background-color:#ff6666;">22</th>
					<th style="background-color:#6AC6F5;">23</th>
					<th style="background-color:#6AC6F5;">24</th>
					<th style="background-color:#6AC6F5;">25</th>
					<th style="background-color:#6AC6F5;">26</th>
					<th style="background-color:#6AC6F5;">27</th>
					<th style="background-color:#ff6666;">28</th>
					<th style="background-color:#ff6666;">29</th>
					<th style="background-color:#6AC6F5;">30</th>
					<th style="background-color:#6AC6F5;">31</th>

				</tr>
				<tr>

					<th style="background-color:#548CDE;">Dias da Semana:</th>

					<th style="background-color:#ff6666;">D</th>
					<th style="background-color:#6AC6F5;">S</th>
					<th style="background-color:#6AC6F5;">T</th>
					<th style="background-color:#6AC6F5;">Q</th>
					<th style="background-color:#6AC6F5;">Q</th>
					<th style="background-color:#6AC6F5;">S</th>
					<th style="background-color:#ff6666;">S</th>
					<th style="background-color:#ff6666;">D</th>
					<th style="background-color:#6AC6F5;">S</th>
					<th style="background-color:#6AC6F5;">T</th>
					<th style="background-color:#6AC6F5;">Q</th>
					<th style="background-color:#6AC6F5;">Q</th>
					<th style="background-color:#6AC6F5;">S</th>
					<th style="background-color:#ff6666;">S</th>
					<th style="background-color:#ff6666;">D</th>
					<th style="background-color:#6AC6F5;">S</th>
					<th style="background-color:#6AC6F5;">T</th>
					<th style="background-color:#6AC6F5;">Q</th>
					<th style="background-color:#6AC6F5;">Q</th>
					<th style="background-color:#6AC6F5;">S</th>
					<th style="background-color:#ff6666;">S</th>
					<th style="background-color:#ff6666;">D</th>
					<th style="background-color:#6AC6F5;">S</th>
					<th style="background-color:#6AC6F5;">T</th>
					<th style="background-color:#6AC6F5;">Q</th>
					<th style="background-color:#6AC6F5;">Q</th>
					<th style="background-color:#6AC6F5;">S</th>
					<th style="background-color:#ff6666;">S</th>
					<th style="background-color:#ff6666;">D</th>
					<th style="background-color:#6AC6F5;">S</th>
					<th style="background-color:#6AC6F5;">T</th>

				</tr>
				<tr>
				
					<td>A : Priscila; Cláudia</td>
				
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>

				</tr>
				<tr>

					<td>B : Pedro; Lucas</td>
				
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>

				</tr>
				<tr>

					<td>C : Tiago; José</td>

					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td><td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td><td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>

				</tr>
				<tr>
					
					<td>D : Marta; Maria</td>

					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>

				</tr>
				<tr>

					<td>E : Lucas; Davi</td>
				
					<td>N</td>
					<td>N</td><td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td><td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>
					<td>N</td><td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td style="background-color:#54D4DE;">F</td>
					<td>M</td>
					<td>M</td>
					<td>T</td>
					<td>T</td>
					<td>N</td>

				</tr>

				<tr>
					<th class="justify-content-center" style="background-color:#54D4DE;">FÉRIAS</th>
				</tr>

				<tr>

					<th>Amós</th>

					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>

				</tr>

				<tr>

					<th>Ester</th>

					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>

				</tr>

				<tr>

					<th>Pedro</th>

					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th>-</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>
					<th style="background-color:#5FFADA;">X</th>

				</tr>	

			</table>
		</div>
	</div>	
</div>

<hr>
<hr>

{%  include 'accounts/status.html' %}

{% endblock %}