<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Notas e Obs.</h5>
			  	</div>
			  	<div class="card-body">
			    	<h5 class="card-title">
					Podemos aqui deixar as atualizações ou informações recentes sobre as escalas.
					</h5>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Notas e Obs.</h5>
			  	</div>
			  	<div class="card-body">
			    	<h5 class="card-title">
					Podemos aqui deixar as atualizações ou informações recentes sobre as férias.
					</h5>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Notas e Obs.</h5>
			  	</div>
			  	<div class="card-body">
			    	<h5 class="card-title">
					Toda e qualquer observação extra que possa vir antes, na entrada, ou durante o mês referente.
					</h5>
			  	</div>
			</div>
		</div>
	</div>
</div>